# Этот файл нужен, чтобы мусор не попадал внутрь контейнера

# Игнорируем директорию виртуального окружения (название может отличаться: venv, env и т.д.)
venv/
env/

# Игнорируем кэшированные файлы Python
__pycache__/
*.pyc
*.pyo

# Игнорируем скрытые системные файлы (например, macOS)
.DS_Store

# Игнорируем файлы Git
.git

# Если в проекте есть локальные настройки (например, .env), их тоже лучше исключить
.env