# Этот файл нужен, чтобы мусор не попадал в git

# Директории виртуального окружения
venv/
env/

# Кэш-файлы Python
__pycache__/
*.pyc
*.pyo

# Системные файлы и папки
.DS_Store

# Файлы с логами
*.log

# Настройки IDE/редакторов
.idea/
.vscode/

# Локальные файлы настроек (если есть)
.env

# Файлы Git
.git